.titulo {
	background: red;
	
}
.fondo {
	background: lightblue;
	}
	.ti1 {
		background: red;
	}
	.ti2 {
background: red;
}
.titu {
	color: red;
}
.ti3 {
	background: red;
}
.ti4 {
	background: red;
}
.ti5 {
	background: red;
	}
.ti6 {
	background: red;
	}
.ti7 {
	background: red;
	}
	.ju {
	color: black;
}

